.posts article p {
    text-align: center;
}
.posts .featured img {
    height: 250px;
}
.posts .featured li a {
    margin-top: 120px;
}
.special-box {
    outline: 1px solid rgb(0 0 0 / 10%);
    outline-offset: -10px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    transition: 0.2s;
    transition-timing-function: linear;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
.special-box:hover {
    outline-offset: 0px;
    outline: 2px solid #130f40;
}
.two-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.two-links header {
    margin: 10px;
}
